@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.navbar {
  position: fixed; /* Fija la Navbar */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Fondo oscuro */
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #007bff; /* Color al pasar el mouse */
}

.navbar-link.active {
  color: #9c9a94; /* Color cuando la página está activa */
}

/* Evitar que el contenido se superponga con la Navbar */
body {
  padding-top: 60px; /* Ajustar según la altura de la Navbar */
}
