/* src/components/Navbar.css */

/* Estilos generales de la NavBar */
.navbar {
  background-color: #333; /* Color de fondo de la NavBar */
  padding: 10px 20px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Lista de enlaces de la Navbar */
.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* Item de la lista de enlaces */
.navbar-item {
  margin: 0 15px;
}

/* Enlace de la Navbar */
.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #f8f9fa;
}

.navbar-link.active {
  color: #007bff;
}
