@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilo general */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #3f3f3f;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
h1 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
}

/* Efecto hover */
h1:hover {
    color: #bbb;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
h2{
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
    color: white;
}

h3{
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
    color: white;
}
/* Contenedor principal */
.main-content {
    padding: 30px;
}

/* Calendario */
.calendar-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Ajustar tamaño del calendario */
.react-calendar {
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;

    width: 100%;
    max-width: 1000px; /* Ajusta según el diseño deseado */
    background: #222;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: -150px; /* Reduce el espacio superior */
}

/* Estilos para los días deshabilitados en el calendario */
.react-calendar__tile:disabled {
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
    background-color: #333 !important; /* Un gris oscuro */
    color: #777 !important; /* Un gris más claro para el texto */
    opacity: 1; /* Asegura que se vea bien */
}
.react-calendar__tile:hover {
    background: #555 !important; /* Un gris más claro para que se note */
    color: #fff !important;
    transition: background 0.3s ease;
}



.react-calendar__navigation button {
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
    background: none !important; /* Quita el fondo blanco */
    border: 2px solid #222 !important; /* Contorno del mismo color que el fondo */
    color: white !important; /* Color del ícono */
    padding: 10px; /* Ajuste de tamaño */
    border-radius: 5px; /* Bordes redondeados */
}

.react-calendar__navigation button:hover {
    border-color: #444 !important; /* Un tono más claro al pasar el mouse */
    background: rgba(255, 255, 255, 0.1) !important; /* Efecto sutil */
}

/* Días seleccionados o resaltados */
.react-calendar__tile--active {
    background: #4caf50;
    color: black    ;
    font-weight: bold;
}

.react-calendar__tile--now {
    background: rgba(255, 0, 0, 0) !important;
    color: rgba(255, 255, 255, 0) !important;
    font-weight: bold;
}


.react-calendar__tile--now:hover {
    background: #8d7674a8 !important; /* Un tono más claro al pasar el mouse */
}


/* Estilos para diferenciar los días */
.fin-de-semana {
    color: #f44336 !important;
    font-weight: bold;
}

.dia-laborable {
    color: white !important;
}

/* Modal de disponibilidad */
.disponibilidad-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.disponibilidad-modal input{
    width: 100%; /* O puedes usar un tamaño fijo, ej: 300px */
    height: 40px; /* Ajusta la altura */
    font-size: 16px; /* Ajusta el tamaño del texto */
    padding: 8px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil */
    box-sizing: border-box; /* Evita que el padding afecte el tamaño total */
}
.disponibilidad-modal {
    position: relative; /* Agregado */
    background: #222;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}


/* Botón de cierre */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #f44336;
}

/* Horarios */
.horarios-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 15px 0;
}

.horario-button {
    padding: 10px 15px;
    border: 1px solid #fff;
    background-color: #222;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.horario-button:hover {
    background-color: #444;
}

.horario-button.seleccionado {
    background-color: #4caf50;
    font-weight: bold;
}

.horario-button.deshabilitado {
    background-color: #555;
    cursor: not-allowed;
    color: #88888874;
}

/* Formulario de reserva */
.turno-form input,
.turno-form select {
    width: 90%;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #222;
    color: white;
}

/* Botón de reserva */
.turno-form button {
    background-color: #fff;
    color: #111;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.turno-form button:hover {
    background-color: #ccc;
}

/* Mensaje de éxito */
.mensaje-exito {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Ventana emergente de confirmación */
.modal-confirmacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #222;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

/* Botones en la ventana emergente */
.modal-content button {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.modal-content button:first-of-type {
    background-color: #4caf50;
    color: white;
}

.modal-content h2{
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
}

.modal-content button:last-of-type {
    background-color: #f44336;
    color: white;
}

.modal-content button:hover {
    opacity: 0.8;
}

.modal-especial-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-especial-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .modal-especial-content p {
    font-size: 18px;
    color: #333;
  }
  
  .modal-especial-content button {
    margin-top: 10px;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
/* Botones input*/

.turno-form input,
.turno-form select,
.turno-form button {
  width: 100%;  
  padding: 10px;  
  margin-bottom: 15px;  
  border: 1px solid #ccc;  
  border-radius: 5px;  
  font-size: 16px;  
}

.logo {
    display: block;
    margin: auto;
    width: 500px; /* Ajusta el tamaño según necesites */
    height: auto;
    padding: 0;
    margin-top: -160px;

  }
  